<div class="row justify-content-center">
  <div class="col-md-8 p-5">
    <div class="card">
      <div class="card-header">{{ card_header }}</div>
      <div class="card-body"><p>{{ card_body }}</p>
        {% if card_link %}
          <a href="{{ card_link }}">{{ card_link_text }}</a>
        {% endif %}
        {% if form %}
          {% with button_text=button_text link_url=link_url link_text=link_text %}
           {% include 'users/includes/form.html' %}
          {% endwith %}
        {% endif %}
      </div> <!-- card body -->
    </div> <!-- card -->
  </div> <!-- col -->
</div> <!-- row -->