{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'img/fav/favicon.ico' %}" type="image">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/fav/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/fav/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/fav/favicon-16x16.png' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Профайл пользователя {{ user_name }}</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-light" style="background-color: lightskyblue">
        <div class="container">
          <a class="navbar-brand" href="/">
            <img src="/static/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            <span style="color:red">Ya</span>tube
          </a>
        </div>
      </nav>
    </header>
    <main>
      <div class="container py-5">
        <h1>Все посты пользователя {{ user_name }} </h1>
        <h3>Всего постов: {{ total_posts }} </h3>
        {% for post in posts %}
        <article>
          <ul>
            <li>
              Автор: {{ user_name }}
              {% if post.group and post.group.slug %}
                <a href="{% url 'posts:group_posts' post.group.slug %}">все записи группы</a>
              {% endif %}
            </li>
            <li>
              Дата публикации: {{ post.published_date }}
            </li>
          </ul>
          <p>
            {{ post.content }}
          </p>
          <a href="{% url 'posts:post_detail' post.id %}">подробная информация </a>
        </article>
        <a href="{{ group_posts_url }}">все записи группы</a>
        <hr>
        {% endfor %}
        {% include 'posts/paginator.html' %}
      </div>
    </main>
    <footer class="border-top text-center py-3">
      <p>© {{ year }} Copyright <span style="color:red">Ya</span>tube</p>
    </footer>
  </body>
</html>