{% extends 'base.html' %}
{% load static %}
{% block title %}Профайл пользователя {{ user_name }}{% endblock %}
{% block content %}
  <main>
    <div class="container py-5">
      <h1>Все посты пользователя {{ user_name }}</h1>
      <h3>Всего постов: {{ total_posts }}</h3>
        {% if following %}
          <a
            class="btn btn-lg btn-light"
            href="{% url 'posts:profile_unfollow' author.username %}" role="button"
          >
            Отписаться
          </a>
        {% else %}
            <a
              class="btn btn-lg btn-primary"
              href="{% url 'posts:profile_follow' author.username %}" role="button"
            >
              Подписаться
            </a>
        {% endif %}
      {% for post in page_obj %}
      <article>
        <div class="post">
          <h2>{{ post.text|truncatechars:15 }}</h2>
          <p>{{ post.pub_date }}</p>
          <a href="{% url 'posts:post_detail' post.id %}">подробная информация </a>
          <a href="{{ group_posts_url }}">все записи группы</a>
        </div>
      </article>
      {% endfor %}
    </div>
  </main>
  {% include 'posts/paginator.html' %}
{% endblock %}
